body {
  padding: 0;
  margin: 0;
  background-color: black;
}

.header {
  background-color: rgb(61, 60, 61);
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  cursor: pointer;
  margin-bottom: 10px;
}

.logo {
  font-family: cursive;
  border-left: 1.5px solid #fff;
  border-top: 1.5px solid #fff;
  border-radius: 50%;
  padding: 10px;
  font-size: 15px;
}

.my-links,
.link {
  display: inline-block;
}

.link {
  margin: 0 30px;
}

@media screen and (max-width: 800px) {
  .my-links {
    display: flex;
    width: 80%;
    margin-left: 10px;
  }

  .link,
  .logo {
    font-size: smaller;
  }
}

/* Footer Part */

.description-footer {
  color: white;
  margin-right: 1%;
}

.footer {
  display: flex;
  justify-content: space-between;
  background-color: rgb(61, 60, 61);
  padding-left: 8%;
  height: 60px;
  width: 100%;
}

.combination {
  display: flex;
  width: 50%;
  margin-top: 10px;
}

.show-footer {
  height: 25px;
  margin-left: 10%;
}

.shows-part {
  margin-top: 15px;
  color: rgb(83, 218, 83);
}

@media screen and (max-width: 800px) {
  .show-part {
    font-size: smaller;
  }

  .show-footer {
    font-size: smaller;
    margin-left: -30px;
  }

  .combination {
    margin-right: -15px;
    width: 79%;
  }
}

/* Main section */
.episode-list {
  display: flex;
  flex-flow: row wrap;
  width: 60%;
  margin-left: 20%;
  justify-content: space-between;
}

.moviePic {
  border-bottom: solid 2px wheat;
  border-bottom-left-radius: 5%;
  border-bottom-right-radius: 5%;
  border-top-right-radius: 2%;
  width: 210px;
}

.movieFrame {
  border: solid 1px rgb(109, 96, 96);
  border-radius: 2%;
  margin-bottom: 2%;
  color: white;
  width: 210px;
}

.movieName,
.movieCategory {
  color: white;
  margin-left: 2%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-overflow: ellipsis;
  overflow: hidden;
}

@media only screen and (max-width: 780px) {
  .episode-list {
    margin-left: 30%;
  }
}

.box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
  padding-left: 2%;
  padding-right: 2%;
}

.picDetails {
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.button {
  border-radius: 9%;
  border: solid white;
  color: brown;
  height: 25px;
}

.likeCount {
  margin-left: 2%;
}


/* like part */
.like {
  color: red;
}
